<h4 style="text-align: center">Angular(Service)</h4>
<hr>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>
            <tbody>
                <!--using *ngFor directive to iterate over student list-->
                <tr *ngFor="let student of students">
                    <th scope="row">{{student.Id}}</th>
                    <td>{{student.Name }}</td>
                    <td>{{student.Address}}</td>
                    <td>{{student.Gender}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>